<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="nav_bar">
        <div class="nav_main">
            <a href="/">
                <div class="nav_brand">
                    ChatZip
                </div>
            </a>
            <div class="nav_user">

                <% if (locals.user) { %>
                    <a href="/sign-out"><button class="nav_button">Sign Out</button></a>
                    <% }else{ %>
                        <a href="/sign-up"><button class="nav_button">Sign Up</button></a>
                        <% } %>
                            <!-- <div class="nav_btn" id="moon"><i id="theme" class="fa-solid fa-moon fa-lg" style="color: #005eff;"></i>
                </div>
                <div class="nav_btn" id="sun"><i class="fa-solid fa-sun fa-lg" style="color: #005eff;"></i></div> -->
            </div>
        </div>
    </div>
</header>