<div class="overlay">
    <div class="overlay_main">
        <form action="" method="post" class="overlay_form">
            <label for="file-input" type="file" name="profile-image">
                <img src="/images/image.jpg" class="overlay_image" />
            </label>
            <input id="file-input" type="file" class="" name="profile-image" class="profile_image" />
            <input type=" text" name="username" class="home_form_input" value="Tom Jose">
            <button class="home_form_btn">Update</button>
        </form>
    </div>
</div>
<% if(!locals.user.isVerified) {%>
    <div class="verification">
        <% if(locals.user){ %>
            <div class="verification_text">Check Inbox or <a href="/send-mail/<%=user.id %>"
                    class="verification_link">Click
                    Here</a> to verify your account </div>
            <% } %>
    </div>
    <% } %>
        <div class="chat">
            <div class="chat_container">
                <div class="chat_users">
                    <% if(locals.user){ %>
                        <div class="chat_current_user">
                            <img src=<%=locals.user.avatar %> alt="current_user" class="chat_current_image">
                            <div class="chat_current_username">
                                <%=locals.user.username%>
                                    <% if(locals.user.isVerified){ %>
                                        <i class="fa-solid fa-check fa-sm" style="color: #007fff;"></i>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
                            <div class="chat_searchbar">
                                <input type="text" name="userSearch" id="userSearch" class="chat_searchbar_input"
                                    placeholder="Search Friends..">
                            </div>

                            <div class="chat_friend">
                                <% for(user of users){ %>


                                    <div class="chat_friend_list">
                                        <img src="/images/image.jpg" alt="" class="chat_friend_image">
                                        <div class="chat_friend_username">
                                            <%=user.username %>
                                        </div>
                                        <!-- <div class="chat_friend_timestamp">12:00</div> -->
                                    </div>
                                    <% } %>

                            </div>
                </div>
                <div class="chat_box">
                    <div class="chat_box_header">
                        <img src="/images/image.jpg" class="chat_box_image">
                        <div class="chat_box_username">Tharesh Jose</div>
                    </div>
                    <div class="chat_box_main">
                        <div class="chat_box_mainuser">
                            Hello Tharesh
                        </div>
                        <div class="chat_box_friend">
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                            Hello Tom
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                        </div>
                        <div class="chat_box_mainuser">
                            Hello Tharesh
                        </div>
                        <div class="chat_box_friend">
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                            Hello Tom
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                        </div>
                        <div class="chat_box_mainuser">
                            Hello Tharesh
                        </div>
                        <div class="chat_box_friend">
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                            Hello Tom
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                        </div>
                        <div class="chat_box_mainuser">
                            Hello Tharesh
                        </div>
                        <div class="chat_box_friend">
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                            Hello Tom
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                        </div>
                        <div class="chat_box_mainuser">
                            Hello Tharesh
                        </div>
                        <div class="chat_box_friend">
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                            Hello Tom
                            Hello Tom Hello Tom Hello Tom Hello Tom Hello Tom
                        </div>
                    </div>
                    <div class="chat_box_text">
                        <input type="text" name="" class="chat_box_input" placeholder="Type a message...">
                        <button class="chat_button"><i class="fa-solid fa-paper-plane fa-xl"
                                style="color: #ffffff;"></i></button>
                    </div>
                </div>
            </div>
        </div>