<div class="signup">
    <form action="" method="post" class="home_form signup_form">
        <input type="text" name="name" id="" class="home_form_input" placeholder="username">
        <input type="email" name="email" id="" class="home_form_input" placeholder="Email">
        <input type="password" name="password" id="" class="home_form_input" placeholder=" Password">
        <input type="password" name="confirmPassword" id="" class="home_form_input" placeholder="Confirm Password">
        <div class="home_form_button">
            <button type="submit" class="home_form_btn">Sign In</button>
            <button type="submit" class="home_form_gbtn"><img src="https://seekicon.com/free-icon-download/google_4.svg"
                    alt="google-icon" class="google-icon"> Sign In with
                Google</button>
        </div>
    </form>
</div>