.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_form {
    width: 40%;
  }
  &_google {
    width: 97%;
  }
}

@media screen and(max-width: 900px) {
  .signup {
    &_form {
      width: 80%;
    }
  }
}
