.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup_form {
    width: 40%; }
  .signup_google {
    width: 97%; }

@media screen and (max-width: 900px) {
  .signup_form {
    width: 80%; } }
